<div class="row-fluid">
  <div class="span5 project-title">
    <%= link_to project.title, project_ideas_path(project) %>
  </div>
  <div class="span4">
    <% if project.last_activity %>
      <i>changed by <%= gravatar_for(project.last_activity.user, :size => 20) %> <%= project.last_activity.user.name %> <span data-livestamp="<%= project.last_activity.created_at.to_i%>"></span></i>
    <% end %>
  </div>
  <div class="span2">
    <ul class="unstyled">
      <% project.users.each do |u| %>
        <li><%= gravatar_for(u, :size => 20) %> <%= u.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="span1 add-project">
    <a href="<%= edit_project_path(project) %>" title="Project settings"><i class="icon-wrench"></i></a>
    <a href="<%= project_edit_style_path(project) %>" title="Personal project settings"><i class="icon-cogs"></i></a>
  </div>
</div>