<% provide(:title, @project.title) %>
<div class="row-fluid">
  <div class="span8">
    <div id="ideas">
    </div>
  </div>
  <div class="span4">
    <div id="addidea">
    </div>
    <div id="filter">
    </div>
    <div id="activity">
      <div class="iwell">
        <h3>Activity</h3>
        <div class="content">
          <% @activity.each_with_index do |a, i| %>
            <% if i > 4 %>
              <div class="show_more" style="display: none">
            <% end %>
            <a class='to-user' data-user='<%= a.user.name %>' href="#"><%= a.user.name %></a>
            <%= " #{a.action} " %>
            <% if a.idea %>
              <a class='to-idea' href="#<%= a.idea.id %>">#<%= a.idea.id %></a>
            <% else %>
              deleted
            <% end %>
            <span class="authored-at" data-livestamp="<%= a.created_at.to_i %>"></span>
            <br>
            <% if i > 4 %>
              </div>
            <% end %>            
          <% end %>
          <a href='#' class='more' style="float: right">more</a>
          <div class='clearfix'></div>
        </div>
      </div>  
    </div>
    <div id="tagfilter">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name

    window.Ideadb.Application.start({
      ideas: <%= @ideas.to_json(web: true).html_safe %>,
      config: {
        project_id: <%= @project.id %>,
        current_user: <%= current_user.to_json.html_safe %>
      }
    });

    apply_style(<%= @pu.to_json.html_safe %>);

  });
</script>