<div class="iwell">
  <h3>Filter</h3>
  <div class="content">
    <input type="text" placeholder="Search..." id="search_query">
    <div class="row-fluid">
      <div class="span11">
        <% _.each(tag, function(t) { %>
          <span class="tag"><%= t %><a href="#" class="rm-tag" data-tag="<%= t %>">x</a></span> 
        <% }) %>
        <% _.each(withouttag, function(t) { %>
          <span class="tag withouttag"><%= t %><a href="#" class="rm-withouttag" data-tag="<%= t %>">x</a></span> 
        <% }) %>
        <% _.each(user, function(t) { %>
          <span class="tag user"><%= t %><a href="#" class="rm-user" data-user="<%= t %>">x</a></span> 
        <% }) %>  
      </div>
      <div class="span1 reset-all">
        <a href="#" id="reset-filter" title="Reset all filters"><i class=" icon-remove"></i></a>
      </div>
  </div>
</div>  