<div class="content">
  <div class="tag-line">
    <div style="float: left; width: 100px; font-size: 0.7em"><a class="anchor" id="<%= id %>"></a><a href="#<%= id %>">#<%= id %></a></div>
    <div style="float: right; width: 600px; text-align: right;">
      <% _.each(tags, function(tag) { %>
        <span class="tag"><%= tag.name %><a href="#" class="rm-tag" data-tag-id="<%= tag.id %>">x</a></span> 
      <% }) %>
      <span class="tag"><a href="#" class="show-tag-add add-tag">+</a></span> 
    </div>

  </div>
  <div class="clearfix"></div>

  <div class="tag-add-line" style="display: none">
    <input type="text" class="tag-input" placeholder="Enter new tags here...">
  </div>

  <div class="idea-title">
    <%= converter.makeHtml(title) %>
  </div>

  <div class="author">
    <img src="<%= get_gravatar(user.email,14) %>">
    <a href="#" class="user-filter"><span class="author-name"><%= user.name %></span></a> <spann class="authored-at"><%= moment(created_at).fromNow() %></span>
  </div>

  <div class="options-line">
    <a class="show-comments" href="#" title="Open Comments">
      <% if (comments.length > 0) { %>
        <%= comments.length %>
      <% } %>
      <i class="icon-toggle icon-comment-alt"></i>
    </a>
    <a class="remove" href="#" title="Delete this idea"><i class="icon-trash"></i></a>
  </div>

  <div class="clearfix"></div>
</div>

<div class="modal hide fade remove-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Hope you are sure</h3>
  </div>
  <div class="modal-body">
    <p>Its your idea! Your idea is gone! You have no idea in your project. Where it is I can't say, but in your project it's not!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">No</a>
    <a href="#" class="btn btn-danger remove-idea" data-dismiss="modal">I want that to happen</a>
  </div>
</div>

<div class="comments" style="display:none">
</div>

